*.iml
ScoutingRadar2022/.gradle
ScoutingRadar2022/local.properties
ScoutingRadar2022/.idea/caches
ScoutingRadar2022/.idea/libraries
ScoutingRadar2022/.idea/modules.xml
ScoutingRadar2022/.idea/workspace.xml
ScoutingRadar2022/.idea/navEditor.xml
ScoutingRadar2022/.idea/assetWizardSettings.xml
ScoutingRadar2022/.idea/gradle.xml
.DS_Store
ScoutingRadar2022/build
ScoutingRadar2022/captures
ScoutingRadar2022/.externalNativeBuild
ScoutingRadar2022/.cxx
