name: Android CI

on:
  push:
    branches: [ '*' ]
  pull_request:
    branches: [ dev ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'temurin'
        cache: gradle

    - name: Grant execute permission for gradlew
      working-directory: ./android
      run: chmod +x gradlew
    - name: Build with Gradle
      working-directory: ./android
      run: ./gradlew build